@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #242333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }

.container select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.movie-container {
  margin-bottom: 30px;
}

.screen {
    background-color: #fff;
    height: 120px;
    width: 100%;
    margin: 15px 0;
    transform: perspective(1000px) rotateX(-50deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
    border-radius: 0;
  }
  
  .screen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
  }
  
  .screen::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
  }
  

.seats-container {
  perspective: 1000px;
}

.row {
  display: flex;
}

.seat {
  background-color: #444451;
  height: 26px;
  width: 32px;
  margin: 3px;
  font-size: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: green;
}

.seat.sold {
  background-color: #fff;
}

.seat:not(.sold):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.sold):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: rgb(158, 248, 158);
}

.showcase {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .showcase li {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .showcase li div {
    height: 26px;
  width: 32px;
  margin: 3px;
  font-size: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  }
  
  .available {
    background-color: #444451;
  }
  
  .selected {
    background-color: green;
  }
  
  .sold {
    background-color: #fff;
  }
  
  .showcase small {
    font-size: 12px;
  }
  
  #book-btn {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ff5f6d;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #book-btn:hover {
    background-color: #e33f4f;
  }
  